<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>MyAlbums | Full Width</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="/static/layoutmaria.css" type="text/css" media="all"/>
<link rel="shortcut icon" href="http://icons.iconarchive.com/icons/aha-soft/food/256/hamburger-icon.png" />
<script type="text/javascript" src="/static/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="/static/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="/static/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/static/jquery.cycle.setup.js"></script>
</head>
<body>

<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">MyAlbums</a></h1>
      <p>Share your albums!</p>
    </div>
    <div id="topnav">
      <ul>
        <li><a href="/openid-login">Login with Google</a></li>
        <li class="active"><a href="/logout">Logout</a></li>
        <li><a href="/register">Register</a></li>
        <li class="last"><a href="/about">About</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="breadcrumb">
    <ul>
      <li class="first">You Are Here</li>
      <li>&#187;</li>
      <li><a href="#">About</a></li>
      <li>&#187;</li>
    </ul>
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="container">
    <div id="content">
      <h1>&lt;About us&gt; </h1>
		<img class="imgr" src="http://statics.erasmusu.com/259/b6a33cb7f0821a78c95f133caa7b2eda.jpg" alt="" width="125" height="125">
	<p> Maria Simon </p> <p> Erasmus Student at Aalto University</p> <p> Madrid, Spain </p>

    </div>
    

    <div class="clear"></div>
  </div>
</div>
<!-- ####################################################################################################### -->

<!-- ####################################################################################################### -->




</body></html>
