<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="description" content="Pictures Album" />

	<!-- Page title block -->
		<title>{% block title %}{% endblock %}</title>
	<!-- End -->

	<link rel="stylesheet" type="text/css" href="/statics/css/style.css" media="all" /> <!-- href cambiara luego para pasar a ser una variable del template --> 
	<script type="text/javascript" src="http://connrlc.org/cms_made_simple/uploads/LoadFoo/textsizer.js"></script>
	<script type="text/javascript" src="http://connrlc.org/cms_made_simple/uploads/LoadFoo/rel.js"></script>
	<script src="http://switch.dl.sourceforge.net/project/osseval/ossEval_v4/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="http://taiki-script.googlecode.com/files/jquery.scroll.pack.js" type="text/javascript"></script>
    <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js" type="text/javascript"></script>
	<script type="text/javascript">
        $(function() {
            $("#toTop").scrollToTop({speed:1000,ease:"easeInOutBack",start:500});
        });
    </script>

    <!-- Extra things in head block -->
    {% block extraHead %}
    {% endblock %}
    <!-- End-->

	<!-- Scripts block -->
	{% block scripts %}
	{% endblock %}
	<!-- End-->
</head>

<body>
<div id="wrap">
<div id="top">
<h2><a href="/" title="Back to main page">MyAlbum</a></h2>
<div id="menu">

<!-- Upper links block -->
{% block upper_links %}
	<ul>
		<li><a href="/" class="current">Home</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/openid-login">Login with Google Account</a></li>
		<li><a href="/logout">Logout</a></li>
		<li><a href="/register">Register</a></li>
		<li><a href="/about">About</a></li>
		</ul>
{% endblock %}
<!-- FEnds -->

</div>
</div>

<!-- Content block -->
<div id="content">


<div style="float: right;">&nbsp</div>
<div id="left">

<!-- Header block -->
	<h2>{% block header %}Header{% endblock %} </h2>
<!-- End -->

{% block content %}
	<p>Text Content Text <a href="#">Content Text</a> Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content.</p>
	 <ul>
	 <li>ul-li test.</li>
	 <li>ul-li test.</li>
	 <li>ul-li test.</li>
	 <li>ul-li test.</li>
	 <li>ul-li test.</li>
	 </ul>
	 <h2>Functionality or performance</h2>
	 <p>Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content.
	 </p>
</div>

{% endblock %}
</div>
<!--End content block -->
<a href="#" id="toTop">&nbsp</a>


</div>

<div id="clear"></div></div>
<div id="footer">
<p>Copyright 2012. Designed by <a " rel="external">María Simón</a>.</p>
</div>
</div>

</body>
</html>
