<!DOCTYPE html>
<html>
	<head>
	</head>
	<body style="">
			<table width="560px;" height="440px;" style="margin-left:70px;">
		<div>
				<tr>
					<td width="280px;" height="250px;">
						<img src="" id="img_layout2_1" width="280px;" height="220px;"/>
					</td>
					<td width="280px;" height="220px;">
						
						<table>
							<tr>
								<td>picture name:</td>
							</tr>
							<tr>
								<td>
									<font style="font-size:17px;"><div id="pic_name1_layout2" style="width:270px;height:35px;"></div></font>
								</td>
								
							</tr>
							<tr>
								<td>picture description:</td>
							</tr>
							<tr>
								<td>
									<div id="pic_description1_layout2" style="width:270px;height:60px;"></div>
								</td>
							</tr>
						</table>
						
					</td>				
				</tr>
				<tr>
					<td width="280px;" height="220px;">
						
						<table>
							<tr>
								<td>picture name:</td>
							</tr>
							<tr>
								<td>
									<div id="pic_name2_layout2" style="width:270px;height:35px;"></div>
								</td>
							</tr>
							<tr>
								<td>picture description:</td>
							</tr>
							<tr>
								<td>
									<div id="pic_description2_layout2" style="width:270px;height:60px;"></div>
								</td>
							</tr>
						</table>
						
					</td>
					<td width="280px;" height="220px;">
						<img src="" id="img_layout2_2" width="280px;" height="220px;"/>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
