<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<table width="570px">
				<tr>
					<td>
						<table>
							<tr>
								<td>picture name:</td>
							</tr>
							<tr>
								<td><!--<input type="text" id="pic_name1_layout3" disabled size="15"/>-->
									<div id="pic_name1_layout3" style="width:60px;height:35px;"></div>
								</td>
							</tr>
							<tr>
								<td>picture description:</td>
							</tr>
							<tr>
								<td><!--<textarea id="pic_description1_layout3" rows="7" cols="20" disabled></textarea>-->
									<div id="pic_description1_layout3" style="width:60px;height:60px;"></div>
								</td>
							</tr>
						</table>
					</td>
					<td><img  src="" id="img_layout3_2" width="" height=""/></td>
					<td>
						<table>
							<tr>
								<td>picture name:</td>
							</tr>
							<tr>
								<td><!--<input type="text" id="pic_name3_layout3" disabled size="15"/>-->
									<div id="pic_name3_layout3" style="width:60px;height:35px;"></div>
								</td>
							</tr>
							<tr>
								<td>picture description:</td>
							</tr>
							<tr>
								<td><!--<textarea id="pic_description3_layout3" rows="7" cols="20" disabled></textarea>-->
									<div id="pic_description3_layout3" style="width:60px;height:60px;"></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><img  src="" id="img_layout3_1" width="" height=""/></td>
					<td>
						<table>
							<tr>
								<td>picture name:</td>
							</tr>
							<tr>
								<td><!--<input type="text" id="pic_name2_layout3" disabled size="15"/>-->
									<div id="pic_name2_layout3" style="width:60px;height:35px;"></div>
								</td>
							</tr>
							<tr>
								<td>picture description:</td>
							</tr>
							<tr>
								<td><!--<textarea id="pic_description2_layout3" rows="7" cols="20" disabled></textarea>-->
									<div id="pic_description2_layout3" style="width:60px;height:60px;"></div>
								</td>
							</tr>
						</table>
					</td>
					<td><img  src="" id="img_layout3_3" width="" height=""/></td>
				</tr>
			</table>
		</div>
	</body>
</html>
